<nav>
  {{#each pages as |page index|}}
  {{#if page.showInMenu}}
    <a class="btn {{#equal page.activeMenuId ../activeMenu}}active{{/equal}}" href="{{ page.url }}">
      {{{ page.menuTitle }}}
    </a>
  {{/if}}
  {{/each}}
</nav>
