<nav>
  <a class="btn {{#equal active 'home' }}active{{/equal}}" href="/">
    Home
  </a>
  <a class="btn {{#equal active 'doula' }}active{{/equal}}" href="/why-a-doula">
    <span class="more">Why a </span>Doula?
  </a>
  <a class="btn {{#equal active 'about' }}active{{/equal}}" href="/about-me">
    About Me
  </a>
</nav>
