{{#> layout}}
  {{#*inline "content"}}
    <h2>Uh oh</h2>
    <p>
      Sorry! We couldn't find the page you're looking for. Maybe someone gave you a
      bad link or you accidentally mis-typed the URL - it's OK, we all make
      mistakes.
    </p>
    <p>
      Would you like to go back to the <a href="/">homepage</a>?
    </p>
  {{/inline}}
{{/layout}}
