{{#> layout}}
  {{#*inline "content"}}
    <p>
      Hi, I'm Alyssa and I live in Wollongong, Dharawal Country, one of the most
      beautiful areas of NSW. I live here my husband and 3 kids. I have a passion
      to see the current culture of birth changed, for families to own their birth
      and for the rates of birth trauma to be reduced. I am passionate about
      seeing people loved, cherished and to have a sense of belonging.
    </p>

    <div class="image-aside image-aside--image-right">
      <div class="image-aside__content">
        <h3>Why I became a Doula</h3>
        <p>
          I have always had a passion for mums and babies, this became even
          stronger after the birth of my own daughter. I was shocked at how
          disconnected I felt from my care providers and how much information I
          had to source for myself that really should have been coming from them.
          I had a beautiful birth, but it made me wonder, are other women
          getting enough information to have a birth experience that they are at
          peace with? Once I started researching options, I came across Doula’s
          and the work they do, and the service they can provide to families. I knew
          this was it!
        </p>
      </div>

      <img
        src="/images/photos/02.jpg"
        alt="Photo of Alyssa Booth sitting on a gray lounge wearing a black dress"
        class="image-aside__image"
      >
    </div>
  {{/inline}}
{{/layout}}
