{{#> layout}}
  {{#*inline "content"}}
    <div class="image-aside">
      <div>
        <p>
          Alyssa lives in Wollongong, one of the most beautiful areas of NSW, with
          her husband and 3 kids. She has a passion to see the current culture of
          birth changed, for families to own their birth and for the rates of birth
          trauma to be reduced. Alyssa is passionate about seeing people loved,
          cherished and to have a sense of belonging.
        </p>

        <h3>Why Alyssa became a Doula</h3>
        <p>
          Alyssa has always had a passion for mums and babies, this became even
          stronger after the birth of her daughter. She was shocked at how
          disconnected she felt from her care providers and how much information she
          had to source for herself that really should have been coming from them.
          Alyssa had a beautiful birth, but it made her wonder, are other women
          getting enough information to have a birth experience that they are at
          peace with? Once she started researching options, she came across Doula’s
          and the work they do, the service they can provide to families. She knew
          that was it!
        </p>
      </div>

      <img src="/images/alyssa-photo.jpg" alt="Profile photo of Alyssa Booth demonstrating baby wearing">
    </div>
  {{/inline}}
{{/layout}}
