{{#> layout}}
  {{#*inline "content"}}
    <p>
      I have a husband, Ben, who I adore; a daughter, Amilia, and a son, Judah,
      who I absolutely treasure. I have a passion to see people loved, cherished
      and gain a sense of belonging. I live in one of the most beautiful parts
      of the world, Illawarra, NSW.
    </p>

    <h3>Why I became a Doula</h3>
    <p>
      I have always had a passion for mums and babies, but I think it became even
      stronger after the birth of my daughter. I was shocked at how disconnected I
      felt from my care providers and how much information I had to source for
      myself that really should have been coming from them. I had a beautiful birth,
      but it made me wonder, are other women getting enough information to have a
      birth experience that they are at peace with?
    </p>
  {{/inline}}
{{/layout}}
