{{#> layout}}
  {{#*inline "content"}}
    <h3>Standard package</h3>
    <ul class="fa-ul">
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        <b>2</b> prenatal visits with you and your birth partner
        <span class="badge text-muted">2.5 hours each</span>
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        <b>1</b> prenatal visit with you
        <span class="badge text-muted">1 hour</span>
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        Available via phone &amp; email throughout pregnancy
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        On-call support <b>2 weeks</b> either side of your estimated due date
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        Support for you and your birth partner throughout labour and birth
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        <b>3</b> postnatal visits
        <span class="badge text-muted">1 hour each</span>
      </li>
    </ul>
    <h3>$1,750</h3>
  {{/inline}}
{{/layout}}
