{{#> layout}}
  {{#*inline "content"}}
    <h3>
      Standard package
      <span class="text-highlight text-lg">$800</span>
    </h3>
    <ul>
      <li>2 prenatal visits with you and your birth partner <span class="text-muted">2.5 hours each</span></li>
      <li>1 prenatal visit with you <span class="text-muted">1 hour</span></li>
      <li>On-call support 2 weeks either side of your estimated due date</li>
      <li>Support for you and your birth partner throughout labour and birth</li>
      <li>2 postnatal visits</li>
    </ul>

    <h3>
      Support package
      <span class="text-highlight text-lg">$500</span>
    </h3>
    <ul>
      <li>2 prenatal visits with you and your birth partner <span class="text-muted">2.5 hours each</span></li>
      <li>1 prenatal visit with mum <span class="text-muted">1 hour</span></li>
      <li>On-call support 2 weeks either side of your estimated due date</li>
      <li>3 postnatal visits</li>
    </ul>

    <h3>
      Emergency Doula
      <span class="text-highlight text-lg">$500</span>
    </h3>
    <p>
      If you decide last minute that you need a Doula
      you can contact me and, if I'm available,
      I can come support you through labour and birth.
      This package also includes 2 postnatal visits.
    </p>
  {{/inline}}
{{/layout}}
