{{#> layout}}
  {{#*inline "content"}}
    <h3>Birth Doula package &mdash; $2,500</h3>

    <ul class="fa-ul">
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        <b>2</b> prenatal visits with you and your birth partner
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        <b>1</b> prenatal visit with you
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        Available via phone &amp; email throughout pregnancy
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        On-call support <b>2 weeks</b> either side of your estimated due date
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        Support for you and your birth partner throughout labour and birth
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        <b>3</b> postnatal visits
      </li>
    </ul>
    <img
      src="/images/photos/07.jpg"
      alt="Alyssa Booth wearing a shirt which says 'Trust Women, Trust Birth', a woman is labouring out of focus in the background"
      class="image-rounded"
    >
    <p>
      During our prenatal appointments, we will discuss your pregnancy, how you are finding your care and the journey. We discuss your ideal birth and how to map out your birth preferences. You and your birth partner can attend a group class at Illawarra Birth Classes to help you gain understanding of the physiological birth preferences, interventions, pain relief options and a wide range of support techniques your support team can use, should you want it. We also plan for your Fourth Trimester, discussing meals, support, recovery and all aspects of health.
    </p>
    <p>
      You and I can meet in those last few days of your pregnancy, for a coffee or a walk, or even just a pep talk.
    </p>
    <p>
      I am on call for you from 37 weeks, day and night I am available. I can come and support you at home and/or hospital and I usually stay for around 2 hours after bub has arrived to take photos, videos, assist with any breastfeeding questions, making sure parents have some food & drink and making sure everyone is settled before I leave.
    </p>
    <p>
      I will come to your home for 3 postnatal visits. During these visits we can debrief your birth, get you comfortable with babywearing, l can provide you with a list of local resources you might need or want, support around breastfeeding and normal biological infant sleep and safe sleeping options.
    </p>
    <p>
      Working together throughout your pregnancy, birth and postpartum to set you up for a positive start to parenthood.
    </p>
    <p>&nbsp;</p>

    <h3>Cherish The Doula Mentorship</h3>
    <p>
      With over a decade of experience supporting families through one of life's biggest transitions, I am bringing all knowledge, mistakes, wins, wisdom and love to help YOU, an emerging doula. I want to see doulas have sustainable, joyful, meaningful careers, whilst also earning what they so deserve.
    </p>
    <img
      src="/images/photos/08.jpg"
      alt="Alyssa Booth wearing a green dress sitting at a table with a laptop and holding a mug of tea"
      class="image-rounded"
    >
    <p>
      If you are currently studying, newly graduated, returning from maternity leave or have been working as a doula for less than 5 years, this might be the mentorship you are after.
    </p>

    <h5>Mentoring Moment &mdash; $250</h5>
    <p>
      This is a 90 minute power session that is tailored to your needs and goals. Mentoring Moments are available starting November 19th.
    </p>

    <h5>Cherish Your Growth &mdash; $3,495</h5>
    <p>
      A 6 month mentorship with a focus on 1:1 mentoring, BUT because I am big on community, this is a little hybrid and we will have 3 group calls throughout the 6 months.
    </p>
    <ul class="fa-ul">
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        Maximum of <b>5 participants</b> to keep the group intimate
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        Participants who book before <b>October 23rd</b> will receive <b>2 extra calls</b> to utilise within the 6 months
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        We will start <b>December 3rd and 4th</b> with 1:1 calls, and
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        Our first group call will be <b>January 22nd</b>
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        Payment plans available
      </li>
    </ul>

    <p>
      This is just the start, for all the juicy details please download the information pack by clicking the cute little button.
      <br><br>
      <a class="btn" href="/files/Cherish_the_Doula_Mentorship.pdf" download="Cherish the Doula Mentorship">
        <i class="fa fa-lg fa-fw fa-download"></i>
        &nbsp;&nbsp;More information
      </a>
    </p>
    <p>&nbsp;</p>

    <h3>Babywearing one hour session &mdash; $60</h3>
    <p>
      Are you confused about the different types of babywearing carriers? Are you or your babe uncomfortable in the carrier you have? I have been babywearing for nearly a decade and I am qualified babywearing educator, I would love to help you.
    </p>
    <div class="image-aside image-aside--image-left">
      <img
        src="/images/photos/04.jpg"
        alt="Photo of Alyssa Booth wearing a green dress and fitting a baby wearing ring sling"
        class="image-aside__image image-rounded"
      >

      <div class="image-aside__content">
        <p>
          Babywearing has been an integral part of parenting all around the world for thousands of years. Wearing babies helps with bonding, settling, sleeping and so much more. Babywearing can be one of the best ways to support your child physically and emotionally. During our session we will cover different styles of carriers, different ways to carry, the important safety factors to always look for and even troubleshoot any issues you may have with a carrier you have.
        </p>
        <p>
          As a member of Babywearing Australia, I am committed to improving outcomes and accessibility for all parents and babies across Australia through education on babywearing safety, best practice, and benefits.
        </p>
      </div>
    </div>
    <p>&nbsp;</p>

    <h3>Feeding and Postnatal Day Stay</h3>
    <p>
      Join Louise David IBCLC and Doula Alyssa Booth for 5 hours of support with feeding and baby.
      <br><br>
      <a class="btn" href="https://www.louisedavidlc.com.au/book-online" target="_blank">
        <i class="fa fa-lg fa-fw fa-external-link"></i>
        &nbsp;&nbsp;More information and booking
      </a>
    </p>
    <p>&nbsp;</p>
  {{/inline}}
{{/layout}}
