{{#> layout}}
  {{#*inline "content"}}
    <h3>Birth Doula package &mdash; $2,000</h3>

    <ul class="fa-ul">
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        <b>2</b> prenatal visits with you and your birth partner
        <span class="badge text-muted">2.5 hours each</span>
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        <b>1</b> prenatal visit with you
        <span class="badge text-muted">1 hour</span>
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        Available via phone &amp; email throughout pregnancy
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        On-call support <b>2 weeks</b> either side of your estimated due date
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        Support for you and your birth partner throughout labour and birth
      </li>
      <li>
        <i class="fa fa-li fa-check-circle-o text-highlight"></i>
        <b>3</b> postnatal visits
        <span class="badge text-muted">1 hour each</span>
      </li>
    </ul>
    <p>
      During our prenatal appointments, we will discuss your pregnancy, how you are finding your care and the journey. We discuss your ideal birth and how to map out your birth preferences. You and your birth partner can attend a group class at Illawarra Birth Classes to help you gain understanding of the physiological birth preferences, interventions, pain relief options and a wide range of support techniques your support team can use, should you want it. We also plan for your Fourth Trimester, discussing meals, support, recovery and all aspects of health.
    </p>
    <p>
      You and I can meet in those last few days of your pregnancy, for a coffee or a walk, or even just a pep talk.
    </p>
    <p>
      I am on call for you from 37 weeks, day and night I am available. I can come and support you at home and/or hospital and I usually stay for around 2 hours after bub has arrived to take photos, videos, assist with any breastfeeding questions, making sure parents have some food & drink and making sure everyone is settled before I leave.
    </p>
    <p>
      I will come to your home for 3 postnatal visits. During these visits we can debrief your birth, get you comfortable with babywearing, l can provide you with a list of local resources you might need or want, support around breastfeeding and normal biological infant sleep and safe sleeping options.
    </p>
    <p>
      Working together throughout your pregnancy, birth and postpartum to set you up for a positive start to parenthood.
    </p>

    <h3>Babywearing one hour session &mdash; $60</h3>
    <p>
      Are you confused about the different types of babywearing carriers? Are you or your babe uncomfortable in the carrier you have? I have been babywearing for nearly a decade and I am qualified babywearing educator, I would love to help you.
    </p>
    <div class="image-aside image-aside--image-left">
      <img
        src="/images/photos/04.jpg"
        alt="Photo of Alyssa Booth wearing a green dress and fitting a baby wearing ring sling"
        class="image-aside__image image-rounded"
      >

      <div class="image-aside__content">
        <p>
          Babywearing has been an integral part of parenting all around the world for thousands of years. Wearing babies helps with bonding, settling, sleeping and so much more. Babywearing can be one of the best ways to support your child physically and emotionally. During our session we will cover different styles of carriers, different ways to carry, the important safety factors to always look for and even troubleshoot any issues you may have with a carrier you have.
        </p>
        <p>
          As a member of Babywearing Australia, I am committed to improving outcomes and accessibility for all parents and babies across Australia through education on babywearing safety, best practice, and benefits.
        </p>
      </div>
    </div>
  {{/inline}}
{{/layout}}
