html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+60,f2f2f2+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #ffffff 0%, #ffffff 60%, #f2f2f2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#ffffff 60%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #ffffff 0%,#ffffff 60%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  color: #585858;
  font-family: 'Martel', Georgia, serif;
  font-weight: 200;
  font-size: 14px;
}


/**
 * HEADERS & PARAGRAPHS
 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', Verdana, Geneva, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 25px 0 0;
}
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 10px;
}


/**
 * LISTS
 */
ol.circles {
  list-style-type: none;
  margin: 25px 0 0;
  padding: 0;
}
ol.circles > li {
  counter-increment: steps-counter;
  margin: 10px 0 0 34px;
  text-indent: -34px;
}
ol.circles > li:before {
  content: counter(steps-counter);
  color: white;
  background: #8ad1cc;
  border: 1px solid #93dad5;
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-indent: 0;
  text-align: center;
  margin-right: 8px;
  border-radius: 13px;
}


/**
 * LINKS & BUTTONS
 */
a {
  color: white;
}
a:not(.btn):hover {
  opacity: 0.7;
}
a > .fa {
  vertical-align: middle;
}
a > .fa:not(.fa-2x) {
  line-height: 2em;
}

.btn {
  color: white;
  text-decoration: none;
  opacity: 1;
  cursor: pointer;

  display: inline-block;
  padding: 10px;
  background: #8ad1cc;
  border: 1px solid #93dad5;
  outline: none;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-transition: background-color 0.5s, border-color 0.5s;
  -moz-transition: background-color 0.5s, border-color 0.5s;
  -o-transition: background-color 0.5s, border-color 0.5s;
  transition: background-color 0.5s, border-color 0.5s;
}
.btn-block {
  display: block;
  margin: 0 0 10px;
}
.btn.active {
  background-color: #00b8af;
  border-color: #00c0b7;
}
.btn:hover,
.btn:focus {
  background-color: #99e0db;
  border-color: #a2e8e3;
}
.btn:disabled {
  cursor: not-allowed;
  color: #eee;
  background: rgba(255, 255, 255, 0.1);
}


/**
 * FORMS
 */
/* inputs and textarea */
form textarea {
  resize: vertical;
}
form input[type=text],
form input[type=email],
form textarea {
  color: #585858;
  font-family: 'Martel', Georgia, serif;
  font-weight: 200;
  font-size: 16px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
  padding: 20px 0 3px;

  background: none;
  border: none;
  outline: none;
}
form input[name=_gotcha] {
  display: none;
}

/* button */
form .btn {
  font-family: 'Martel', Georgia, serif;
  font-weight: 200;
  font-size: 16px;
  margin-top: 36px;
}

/* input group (with underline) */
form p,
form .input-group {
  margin: 18px 0 0;
}
form .input-group {
  position: relative;

  border-color: rgba(88, 88, 88, 0.4);
  border-style: solid;
  border-width: 0 0 1px 0;

  margin-bottom: 26px;
}
form .input-group:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  right: 50%;
  height: 3px;
  background: #585858;

  -webkit-transition: left 0.3s, right 0.3s;
  -moz-transition: left 0.3s, right 0.3s;
  -o-transition: left 0.3s, right 0.3s;
  transition: left 0.3s, right 0.3s;
}
form .input-group.is-invalid:after {
  background: rgb(173, 31, 31);
}
form .input-group.is-invalid:after,
form .input-group.is-focused:after {
  left: 0;
  right: 0;
}

/* floating label */
form .input-group > label {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;

  font-size: 16px;
  color: rgba(88, 88, 88, 0.5);
  pointer-events: none;

  -webkit-transition: top 0.3s, font-size 0.3s, color 0.3s;
  -moz-transition: top 0.3s, font-size 0.3s, color 0.3s;
  -o-transition: top 0.3s, font-size 0.3s, color 0.3s;
  transition: top 0.3s, font-size 0.3s, color 0.3s;
}
form .input-group.is-focused > label,
form .input-group.is-dirty > label {
  top: 0;
  font-size: 12px;
  color: #585858;
}

/* input error message */
form .input-group > .input-error-message {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -26px;

  font-size: 12px;
  color: rgb(173, 31, 31);
  opacity: 0;

  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
form .input-group.is-invalid > .input-error-message {
  opacity: 1;
}

/* is sending */
form .btn > i.is-sending {
  display: none;
}
form.is-sending .btn > i.is-sending {
  display: inline-block;
}
form.is-sending .btn > i.not-sending {
  display: none;
}

/* form submitted messages */
form .form-submitted-message {
  opacity: 0;

  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
form.is-submitted .form-submitted-message,
form.failed-submitting .form-submitted-message {
  opacity: 1;
}
form .form-submitted-message > .failed-submitting {
  display: none;
}
form.failed-submitting .form-submitted-message > .is-submitted {
  display: none;
}
form.failed-submitting .form-submitted-message > .failed-submitting {
  display: block;
}


/**
 * SECTIONS
 */
.container {
  width: auto;
  padding: 40px 20px 60px;
  margin: 0 auto;
}

.logo {
  max-width: 100%;
}

/* NAVBAR */
nav {
  margin: 15px 0;
  text-align: center;
}
nav a.btn {
  width: 24%;
}
nav span.more {
  display: none;
}

/* CONTENT */
.content {
  margin: 40px 0;
}
.content p {
  text-align: justify;
}


/**
 * RESPONSIVE OVERRIDES
 */
@media (min-width: 600px) {
  .container {
    width: 560px;
  }

  nav a.btn {
    width: 28%;
  }
  nav span.more {
    display: inline;
  }
}
