<!DOCTYPE html>
<!--[if lte IE 9]><html lang="en" class="lte-ie9"><![endif]-->
<!--[if !IE]> --><html lang="en"><!-- <![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {{ browserTitle }} |
      With you from pregnancy to parenthood |
      Illawarra Birth Doula
    </title>
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <!-- Vendor stylesheets -->
    {{#if isProduction}}
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Martel:200,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    {{else}}
      <link href="/vendor/font-awesome.css" rel="stylesheet">
      <link href="/vendor/google-fonts.css" rel="stylesheet">
    {{/if}}

    <!-- Site stylesheet -->
    <link href="/styles.min.css" rel="stylesheet">

    {{#each pages}}
      <link rel="prefetch" href="{{noDoubleSlash (concat this.url '/index.html') }}">
    {{/each}}

    {{#if isProduction}}
      {{> analytics }}
    {{/if}}

    <!-- Polyfills -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch,Promise,Element.prototype.classList,Array.prototype.forEach|reduce&flags=gated"></script>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img src="/images/cherish-birth-logo.png" alt="Cherish Birth logo with illustrated flowers and outline of a pregnant woman">
      </div>

      {{> menu }}

      <div class="content">
        {{> content }}
      </div>

      {{> links }}
    </div>

    <!-- Site scripts -->
    <script src="/scripts.min.js"></script>
  </body>
</html>
