<!DOCTYPE html>
<!--[if lte IE 9]><html lang="en" class="lte-ie9"><![endif]-->
<!--[if !IE]> --><html lang="en"><!-- <![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {{ browserTitle }} |
      With you from pregnancy to parenthood |
      Illawarra Birth Doula
    </title>
    <link rel="icon" type="image/png" href="/images/favicon.png">

    <!-- Vendor stylesheets -->
    {{#if isProduction}}
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Martel:200,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    {{else}}
      <link href="/vendor/font-awesome.css" rel="stylesheet">
      <link href="/vendor/google-fonts.css" rel="stylesheet">
    {{/if}}

    <!-- Site stylesheet -->
    <link href="/styles.min.css" rel="stylesheet">

    {{#each pages}}
      <link rel="prefetch" href="{{ this.url }}">
    {{/each}}

    {{#if isProduction}}
      {{> analytics }}
    {{/if}}
  </head>
  <body>
    <div class="container">
      <img src="/images/cherish-birth-logo.gif" class="logo">

      {{> menu }}

      <div class="content">
        {{> content }}
      </div>

      {{> links }}
    </div>

    <!-- Vendor scripts -->
    {{#if isProduction}}
      <!--[if lte IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <![endif]-->
      <!--[if !IE]> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js"></script>
      <!-- <![endif]-->
    {{else}}
      <script src="/vendor/zepto.js"></script>
    {{/if}}

    <!-- Site scripts -->
    <script src="/scripts.min.js"></script>
  </body>
</html>
