<p>
  <a class="btn btn-block" href="/contact">
    <i class="fa fa-2x fa-fw fa-envelope-o"></i>
    Contact Me
  </a>
  <a class="btn btn-block" href="mailto:hello@cherishbirth.com.au?subject=Hello">
    <i class="fa fa-2x fa-fw fa-at"></i>
    hello@cherishbirth.com.au
  </a>
  <a class="btn btn-block" href="https://instagram.com/cherish_birth/" target="_blank">
    <i class="fa fa-2x fa-fw fa-instagram"></i>
    cherish_birth
  </a>
</p>
