<footer class="site-footer" role="contentinfo">
  <p class="site-footer__flourish" aria-hidden="true">
    <span class="site-footer__flourish-dot">·</span>
    <span class="site-footer__flourish-dot">·</span>
    <span class="site-footer__flourish-dot">·</span>
  </p>
  <p class="site-footer__actions">
    <a class="btn btn-block" href="mailto:hello@cherishbirth.com.au?subject=Hello">
      {{> icon-at}}
      hello@cherishbirth.com.au
    </a>
    <a class="btn btn-block" href="https://instagram.com/cherish_birth/" target="_blank" rel="noopener noreferrer">
      {{> icon-instagram}}
      cherish_birth
    </a>
  </p>
</footer>
