@import "./variables";

.btn {
  color: $text-alternative;
  text-decoration: none;
  opacity: 1;
  cursor: pointer;

  display: inline-block;
  padding: 10px;
  background: $brand-primary;
  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);

  transform: scale(0.98);
  transition: background-color $base-transition, transform $base-transition;

  &.active {
    background-color: $brand-secondary;
  }

  &:hover,
  &:focus:not(.active) {
    background-color: lighten($brand-primary, 10%);
    transform: scale(1);
  }

  &:disabled {
    cursor: not-allowed;
    color: #eee;
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1);
  }
}
.btn-block {
  display: block;
  margin: 0 0 10px;
}
