@import "./variables";

$max-menu-width: 660px;

nav {
  margin: 15px 0;

  .menu {
    display: flex;
  }
}

@media (max-width: $max-menu-width - 1) {
  nav {
    max-height: 48px;

    .menu {
      position: relative;
      z-index: 10;
      background: fade_out(white, 0.3);

      flex-direction: column;
      height: 100%;
      max-height: 48px;
      overflow-y: hidden;
      transition: max-height $base-transition;

      &.is-open {
        max-height: 260px; // Big enough to cover all menu items

        .caret {
          transform: rotate(180deg);
        }
      }
    }

    a.btn {
      margin-bottom: 5px;
      position: relative;
      font-size: $font-size-base;

      &.active {
        order: -1;

        .caret {
          display: block;
        }
      }

      transform: scale(0.97);
      &:hover,
      &:focus {
        transform: scale(0.99);
      }

      .caret {
        display: none;
        position: absolute;
        right: 10px;
        top: 8px;
        transition: transform $base-transition;
      }
    }
  }
}

@media (min-width: $max-menu-width) {
  nav {
    a.btn {
      flex: 1;
      font-size: $font-size-sm;
      text-align: center;

      &:not(:first-child) {
        margin-left: 5px;
      }

      .caret {
        display: none;
      }
    }
  }
}
