<p>
  Please fill in and submit the following form and I'll try and get back to you
  as soon as possible.
</p>

<form id="contact"
      action="https://formspree.io/hello@cherishbirth.com.au"
      method="post"
      novalidate>
  <div class="input-group">
    <input type="text" id="name" name="name" autofocus required>
    <label for="name">Your name</label>
    <span class="input-error-message">
      <i class="fa fa-hand-pointer-o"></i>
      Whoops! You forgot this
    </span>
  </div>

  <div class="input-group">
    <input type="email" id="email" name="email" required>
    <label for="email">Email address</label>
    <span class="input-error-message">
      <i class="fa fa-hand-pointer-o"></i>
      I need this so I can contact you...
      or that one
      <i class="fa fa-hand-pointer-o fa-rotate-180"></i>
    </span>
  </div>

  <div class="input-group">
    <input type="text" id="phoneNumber" name="phoneNumber">
    <label for="phoneNumber">Phone number</label>
  </div>

  <div class="input-group">
    <textarea id="message" name="message" required></textarea>
    <label for="message">Your message</label>
    <span class="input-error-message">
      <i class="fa fa-hand-pointer-o"></i>
      Whoops! You forgot this
    </span>
  </div>

  <p>
    <input type="hidden" name="_subject" value="Hello via Cherish Birth contact form">
    <input type="text" name="_gotcha" style="display: none;">
    <button type="submit" class="btn btn-block" id="submit">
      Send it
      <i class="fa fa-fw fa-paper-plane-o"></i>
    </button>
  </p>
</form>
