<p>
  A doula is a qualified, non-medical support person that will be with you
  throughout your whole labour and birth. We provide information and support
  to parents during pregnancy, childbirth and the postnatal period.
</p>
<p>
  A doula believes in the process of birth, and is aware of the impact that it
  can have on parenting. A doula is educated in comfort measures such as
  positioning, hot packs, aromas, relaxation techniques, massage and managing
  labour sensations with water.
</p>
<p>
  As a Doula, I will not impose my own thoughts or beliefs onto a client. I am
  always respectful, understanding, and a great listener. I acknowledge the
  power of birth and believe it is a non-medical event, unless the woman asks
  for assistance for her or her baby. I know that dim lighting always makes a
  difference, and that the fewer people interrupting the woman and the process,
  the quicker the birth.
</p>
<p>
  I will offer continuous support, I will trust the woman's instincts and I
  understand that birth is a rite of passage and it is a woman's right to
  birth her baby how, where and with whom she chooses.
</p>
<p>
  As a Doula I do not perform medical or clinical tasks, I do not diagnose,
  offer second opinions or give medical advice. I am trained and skilled in
  supporting the birthing woman and her partner through childbirth, one
  contraction at a time. I can support you at home (with private midwives), in
  a birth centre, a labour ward or a private hospital.
</p>
