<p>
  Welcome to <em>Cherish Birth</em>! We are passionate about mum's and
  their partners being educated, informed, supported and loved throughout
  the journey of pregnancy, labour, birth &amp; parenting. We know it can
  be overwhelming, but we truly believe that with the right support team
  you can have a birth that you will be at peace about.
</p>
