<p>
  Welcome to <em>Cherish Birth</em>! I am passionate about mums and their
  partners being educated, informed, supported and loved throughout the journey
  of pregnancy, labour, birth &amp; parenting. I know it can be overwhelming,
  but I truly believe that with the right support team you will have a birth
  that you can be at peace about.
</p>

<p>
  My top 3 suggestions for a pregnant woman and her partner...
</p>
<ol class="circles">
  <li>Hire a Doula</li>
  <li>Trust your body and your instincts</li>
  <li>Trust your care provider and if you don't, find a new one!</li>
</ol>
